body {
  background: #feffc3;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.screen {
  background: #90c5ff;
  border: 7px solid #585859;
  border-radius: 10px;
  color: #585859;
  height: 130px;
  width: 200px;
  position: relative;
}

.screen-bottom {
  border-top: 40px solid #d8d9dd;
  border-right: 15px solid transparent;
  border-left: 15px solid transparent;
  width: 50px;
  position: absolute;
  bottom: -48px;
  left: 50%;
  transform: translateX(-50%);
}

.screen-bottom:before {
  content: "";
  background: #a7a8ab;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 6px;
  width: 60px;
}