body {   
	background-image: linear-gradient(rgba(6, 6, 6, 0.9), rgba(0, 0, 0, 0.9)), url(https://images.pexels.com/photos/1227515/pexels-photo-1227515.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940); 
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	overflow: hidden;
}

h1 {
	color: #f747c1;
	font-family: 'Monoton', cursive;
    font-size: 90px;
	letter-spacing: 4px;
	text-align: center;
	text-shadow: 
	0 0 10px #c3178e, 
	0 0 15px #c3178e, 
	0 0 20px #c3178e, 
	0 0 25px #c3178e, 
	0 0 30px #c3178e, 
	0 0 35px #c3178e, 
	0 0 40px #c3178e;
}